body{
    margin: 0px;
    background-color: #ffffff;
}
.up-menu{
    padding: 8px 200px 8px 0px;
    text-align: end;
    right: 20px;
    background-color: white;
}
.up-menu a{
    padding: 0px 10px;
    color: black;
    font-size: 15px;
    text-decoration: none;
}
.up-a{
    border-right: 1px solid black;
}
.m-menu{
    width: 100%;
    height: 35vh;
    background-image: url(./Banner.jpeg);
    background-size: cover;
    background-position: center;
}
.lo-me-ic{
    position: relative;
    display: flex;
    align-items: center;
}
.lo-me-ic:hover{
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
}
.lo-me-ic:hover .menu a{
    color: black;
}
.menu a:hover{
    border-bottom: 1px solid;
}
.lo-me-ic:hover .icon a{
    color: black;
}
.logo{
    padding: 10px 20px 10px 200px;
}
.menu a{
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.icon{
    position: absolute;
    right: 200px;
}
.icon a{
    color: white;
    padding: 15px;
    font-size: 20px;
}
.he-bu{
    text-align: center;
    padding: 20px 0px;
}
.he-bu h1{
    color: white;
    font-size: 40px;
    text-align: center;
}
.he-bu button{
    width: 150px;
    color: white;
    margin: 5px 5px 0px 0px;
    padding: 10px 20px;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
}
.he-bu button:hover{
    color: black;
    margin: 5px 5px 0px 0px;
    padding: 10px 20px;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}
.vid-sec{
    position: relative;
    width: 100%;
    height: 65vh;
    background-color: #191919;
    z-index: 0;
}
.h h1{
    margin: 0px;
    padding: 60px 0px 0px 200px;
    font-size: 40px;
    color: white;
}
.h p{
    margin-top: 0px;
    padding: 0px 0px 0px 200px;
    font-size: 20px;
    color: white;
}
.h button{
    width: 150px;
    color: white;
    margin: 5px 5px 0px 0px;
    padding: 10px 20px;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
}
.h-bu button:hover{
    color: black;
    margin: 5px 5px 0px 0px;
    padding: 10px 20px;
    gap: 5px;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}
.h-bu{
    margin-top: 60px;
    padding-left: 200px;
}
.img-vid{
    padding: 30px 0px 0px 200px;
}
.img-vid img{
    position: absolute;
    width: 40%;
    z-index: 2;
    
}
.img-vid video{
    position: absolute;
    right: 200px;
    top: -20px;
    width: 40%;
    height: auto;
    z-index: 1;
}
.caro{
    display: flex;
    width: 80%;
    height: 40vh;
    justify-content: center;
    margin: 170px 200px 100px 200px;
}
.caro img{
    margin: 0px 5px 0px 0px;
    width: 370px;
    height: auto;
}
.caro h4{
    margin: 2px 0px 0px 20px;
    padding: 0px;
    font-size: 20px;
}
.caro p{
    margin: 5px 0px 0px 20px;
}
.caro a{
    padding: 5px 0px 0px 20px;
    color: black;
}
.caro a:hover{
    padding: 5px 0px 0px 20px;
    color: rgba(0, 0, 0, 0.471);
}
.banner{
    position: relative;
    margin: 150px 0px 50px 0px;
    width: 100%;
    height: 120vh;
    background-image: url(./pic/8d540c5b-5f47-4866-96e6-6589a00b2b82.png);
    background-size: cover;
}
.banner img{
    position: absolute;
    top: 150px;
    right: 200px;
    width: 300px;
    height: auto;
}
.item{
    position: absolute;
    bottom: 150px;
    right: 200px;
    text-align: right;
}
.item button{
    width: 150px;
    color: rgb(0, 0, 0);
    margin: 5px 5px 0px 0px;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}
.item button:hover{
    width: 150px;
    color: rgb(255, 255, 255);
    margin: 5px 5px 0px 0px;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    border: 1px solid #4E001A;
    border-radius: 5px;
    background-color: #4E001A;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.548);
}
.item h2{
    margin: 0px;
    color: white;
    font-size: 32px;
}
.item p{
    color: white;
    font-size: 17px;
}

.products{
    display: flex;
    width: 200px;
    height: 20vh;
    justify-content: space-between;
    background-color: white;
}
.prod{
    padding: 10px 20px;
}
.prod img{
    width: 200px;
    height: 200px;
    padding: 0px;
}
.prod img:hover{
    width: 220px;
    height: 220px;
    padding: 0px;
    transform: scale(1.2);
    transition: .2s;
}
.prod a{
    font-size: 18px;
    text-align: left;
    text-decoration: none;
    color: rgb(12, 19, 119);
}
.price{
    text-align: left;
    font-weight: 800;
}
.border{
    position: relative;
    margin: auto;
    width: 80%;
    height: 30vh;
}
.items{
    position: relative;
    text-align: center;
    font-size: 24px;
    display: in;
    z-index: 1;
    padding: 0px 20px;
}
.items span{
    background-color: white;
    padding: 0px 10px;
    font-size: 28px;
    letter-spacing: 5px;
}
.items::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    top: 13px;
    left: 0px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    z-index: -1;
}
.items::after{
    content: "";
    margin-top: 320px;
    position: absolute;
    width: 100%;
    height: 40px;
    top: 13px;
    left: 0px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    z-index: -1;
}
.conteiner{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    justify-content: space-between;
    margin-top: 150px;
    width: 80%;
}
.imag{
    position: relative;
}
.imag img{
    width: 500px;
    height: auto;
}
.hpb{
    position: absolute;
    bottom: -90px;
    left: 30px;
    height: 150px;
    width: 400px;
    padding: 5px 20px;
    background-color: white;
}
.hpb h1{
    font-size: 20px;
    text-align: center;
}
.hpb p{
    font-size: 14px;
    text-align: center;
}
.hpb a{
    display: block;
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
    color: black;
}
.hpb a:hover{
    display: block;
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
    color: rgba(68, 68, 68, 0.438);
}